<a href=

<% if @orders.any? %>
    <table>
        <thead>
            <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Items</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Tax</th>
            <th>Total</th>
            <th>Order Time</th>
            </tr>
        </thead>
        <tbody>
            <% @orders.each do |order| %>
                <tr>
                    <td><%= order.customer_name %></td>
                    <td><%= order.customer_address %></td>
                    <td></td>
                    <td><%= order.price %></td>
                    <td><%= order.discount %></td>
                    <td><%= order.tax %></td>
                    <td><%= order.total %></td>
                    <td><%= order.created_at.strftime('%F %T') %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    No orders placed! We're broke :(
<% end %>